.div-background-image{
    background: black;
    background-size: cover;
    display: block;
    height: 100%;
    overflow: hidden;   /*destivando scrow do mouse*/
    position: absolute;
    width: 100%;
    z-index: -1;    
}

.img-background{
    opacity: .5;
    min-width: 100%;
    min-height: 100%;
    border: 0;
    margin: 0;
}

.nav-background-color{
    background: linear-gradient(178deg, #0000007a,#f7f7f700, #ffffff00);
}

.title-netflix{
    color: #e50914;
    font-weight: 550;
    font-family: 'initial','fantasy';
}
